# Ignore all files starting with .env
.env*

# Ignore all files ending with .csv
*.csv

# Ignore __pycache__ directories
__pycache__/

# Ignore LLM mdodels
*.downloadInProgress
*.gguf

# Ignore Chroma files and db
*.bin
*.pickle

# Ingnore all files with .safetensors
*.safetensors